/*======================================

Universal Styling

======================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  object-fit: cover;
}


body {
  font-family: 'Open Sans', helvetica, sans-serif;
}

/*======================================

Positional Styling

======================================*/
main {
  position: relative;
}

header {
  position: absolute;
  width: 100%;
}

/*======================================

Menu Styling

======================================*/
header {
  max-width: 100%;
  margin: 0 auto;
  z-index: 99;
  padding: 35px;
}

.left-side {
  display: inline-block;
  width: 30%;
  margin-left: 15px;
}

.right-side {
  display: inline-block;
  width: 67%;
  vertical-align: top;
  margin: 20px 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0px 38px;
  font-size: 20px;
  font-weight: bold;
  text-alignment: right;
}
