/*======================================

Universal Styling

======================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  object-fit: cover;
  z-index: 2;
}

body {
  font-family: 'Open Sans', helvetica, sans-serif;
  min-height: 100vh;
  object-fit: cover;
}

.mainbground,
.solbground,
.svcsbground,
.cobground,
.supbground {
  width: 100%;
}

header a:hover {
  opacity: 50%;
  font-weight: bolder;
}

/*======================================

Positional Styling

======================================*/
.mainbground,
.solbground,
.svcsbground,
.cobground,
.supbground {
  position: relative;
}

header {
  position: absolute;
  min-width: 100%;
  z-index: 99;
  margin: 0 auto;
  padding: 25px;
}

.solutions {
  position: absolute;
  margin: 0 auto;
  min-width: 100%;
  top: 0;
  z-index: 95;
}

.sidebar {
  display: inline-block;
  vertical-align: baseline;
  width: 165px;
  margin: 145px 0 0 160px;
}

.solcontent {
  display: inline-block;
  vertical-align: top;
  margin: 100px 60px 0;
  width: 50%;
}

.svcs_content {
  position: absolute;
  margin: 0 auto;
  width: 84%;
  top: 0;
  margin-left: 120px;
  margin-top: 250px;
  display: flex;
  z-index: 99;
}

.co_content {
  position: absolute;
  margin: 0 auto;
  width: 65%;
  height: 78%;
  bottom: 0;
  margin-left: 250px;
  vertical-align: bottom;
  z-index: 99;
}

img.codropcap {
  float: left;
  width: 190px;
  margin-right: 8px;
}

/*======================================

Menu Styling

======================================*/
.left-side {
  display: inline-block;
  width: 15%;
  opacity: 90%;
  margin-left: 10px;
}

.right-side {
  display: inline-block;
  width: 82%;
  margin-top: 15px;
  vertical-align: top;
  text-align: right;
}

nav ul {
  list-style: none;
  white-space: nowrap;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  opacity: 90%;
  padding: 0px 32px;
  font-size: 1.1111em;
  font-weight: bold;
}

#navcolor li a{
  color: white;
}

/*======================================

Solutions Page Styling

======================================*/
.solbground {
  opacity: 80%;
}

.solcontent h2 {
  font-size: 1.0556em;
  font-weight: bold;
  top: 0;
  padding: 43px 0 5px;
}

.solcontent p {
  font-size: 0.8889em;
  line-height: 130%;
}

#solcolor li a{
  color: #404140;
}

/*======================================

Services Page Styling

======================================*/
.svcs_hdr {
  background-color: rgba(55, 39, 33, 0.6);
  box-shadow: 2px 3px 4px 0 black;
}

.svcs_content h2 {
  font-size: 1.0556em;
  font-weight: bold;
  padding: 5px 0 6px 10px;
  color: white;
}

.svcs_content p {
  font-size: 0.8889em;
  padding: 11px;
  line-height: 190%;
  color: white;
}

#svcscolor li a{
  color: white;
}

.column1,
.column2,
.column3 {
  float: left;
  width: 28%;
  margin-left: 40px;
  padding: 24px 20px 50px 30px;
  background-color: rgb(55, 39, 33);
  opacity: 80%;
  border-radius: 5px;
  box-shadow: 2px 3px 3px 0 black;
  align-self: flex-end;
  z-index: 90;
}

.svcs_content h2:hover,
.column1:hover,
.column2:hover,
.column3:hover {
  height: 75px;
  border-radius: 5px 55px 0 0;
  color: rgb(247,210,165);
  transition: height .5s ease;
  overflow: hidden;
}

/*======================================

Company Page Styling

======================================*/
.co_content p {
  font-size: 0.8889em;
  margin-top: 23px;
  line-height: 170%;
}

#cocolor li a{
  color: #404140;
}

.cogradient {
  background: linear-gradient(rgba(39, 95, 129, 0), rgba(39, 95, 129, .3), rgba(39, 95, 129, .7), rgba(39, 95, 129, .8), rgba(39, 95, 129, .9), rgba(39, 95, 129, 1));
  position: absolute;
  width: 65px;
  height: 86%;
  bottom: 0;
  vertical-align: bottom;
  margin-left: 32px;
  z-index: 99;
}

/*======================================

Support Page Styling

======================================*/
.supgradient {
  background: linear-gradient(to right, rgba(39, 95, 129, 0), rgba(39, 95, 129, .3), rgba(39, 95, 129, .7), rgba(39, 95, 129, .8), rgba(39, 95, 129, .9), rgba(39, 95, 129, 1));
  position: absolute;
  width: 100%;
  height: 65px;
  top: 3%;
}

.supgradient2 {
  background: linear-gradient(to right, rgba(39, 95, 129, 1), rgba(39, 95, 129, .9), rgba(39, 95, 129, .8), rgba(39, 95, 129, .7), rgba(39, 95, 129, .3), rgba(39, 95, 129, 0));
  position: fixed;
  width: 100%;
  height: 63px;
  bottom: 4%;
  vertical-align: baseline;
  z-index: 99;
}

footer a:hover {
 opacity: 50%;
 font-weight: bolder;
}

.ftrtext {
  display: inline-block;
  text-decoration: none;
  opacity: 90%;
  margin: 19px 30px;
  font-size: 1.1111em;
  font-weight: bold;
  color: white;
}
