/*======================================

Universal Styling

======================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  object-fit: cover;
  z-index: 2;
}

body {
  font-family: 'Open Sans', helvetica, sans-serif;
  min-height: 100vh;
  background: url('../images/wood_red.jpg');
}

.background {
  width: 100%;
}

header a:hover {
  opacity: 50%;
  font-weight: bolder;
}

h2 {
  font-size: 1.0556em;
  font-weight: bold;
  padding: 10px 0 6px 10px;
  align: left;
  color: white;
}

p {
  font-size: 0.8889em;
  padding: 11px;
  align: left;
  line-height: 190%;
  color: white;
}

/*======================================

Positional Styling

======================================*/
.container {
  position: relative;
}

header {
  position: absolute;
  min-width: 100%;
  margin: 0 auto;
  padding: 25px;
  background-color: rgba(55, 39, 33, 0.6);
  box-shadow: 2px 3px 4px 0 black;
  z-index: 99;
}

.svcs_content {
  margin: 0 auto;
  width: 84%;
  top: 0;
  z-index: 99;
}

.container {
  padding-top: 300px;
  box-sizing: border-box;
}

/*======================================

Menu Styling

======================================*/
.left-side {
  display: inline-block;
  width: 15%;
  opacity: 75%;
  margin-left: 10px;
}

.right-side {
  display: inline-block;
  width: 82%;
  margin-top: 15px;
  vertical-align: top;
  text-align: right;
}

nav ul {
  list-style: none;
  white-space: nowrap;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: white;
  opacity: 85%;
  padding: 0px 32px;
  font-size: 1.1111em;
  font-weight: bold;
}

/*======================================

Column Styling

======================================*/
.column1,
.column2,
.column3 {
  width: 28%;
  margin-left: 40px;
  padding: 24px 20px 50px 30px;
  background-color: rgb(55, 39, 33);
  opacity: 80%;
  border-radius: 5px;
  box-shadow: 2px 3px 3px 0 black;
  z-index: 90;
  display: inline-block;
  min-height: 300px;
  vertical-align: top;
}

/*======================================

Animation Styling

======================================*/
h2:hover,
.column1:hover,
.column2:hover,
.column3:hover {
  height: 75px;
  border-radius: 5px 55px 0 0;
  color: rgb(247,210,165);
  transition: height .5s ease;
  overflow: hidden;
}
