/*======================================

Universal Styling

======================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  object-fit: cover;
  z-index: 2;
}

body {
  font-family: 'Open Sans', helvetica, sans-serif;
  min-height: 100vh;
  object-fit: cover;
}

.background {
  width: 100%;
}

header a:hover {
  opacity: 50%;
  font-weight: bolder;
}

/*======================================

Positional Styling

======================================*/
.container {
  position: relative;
}

header {
  position: absolute;
  min-width: 100%;
  z-index: 99;
  margin: 0 auto;
  padding: 25px;
}

/*======================================

Menu Styling

======================================*/
.left-side {
  display: inline-block;
  width: 15%;
  opacity: 75%;
  margin-left: 10px;
}

.right-side {
  display: inline-block;
  width: 82%;
  margin-top: 15px;
  vertical-align: top;
  text-align: right;
}

nav ul {
  list-style: none;
  white-space: nowrap;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: white;
  opacity: 85%;
  padding: 0px 32px;
  font-size: 18px;
  font-weight: bold;
}
