/*======================================

Universal Styling

======================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  object-fit: cover;
  z-index: 2;
}

body {
  font-family: 'Open Sans', helvetica, sans-serif;
  min-height: 100vh;
  object-fit: cover;
}

.background {
  width: 100%;
}

header a:hover {
  opacity: 50%;
  font-weight: bolder;
}

h2 {
  font-size: 1.0556em;
  font-weight: bold;
  padding: 10px 0 5px 10px;
  align: left;
  color: white;
}

p {
  font-size: 0.8889em;
  padding: 11px;
  align: left;
  line-height: 190%;
  color: white;
}

/*======================================

Positional Styling

======================================*/
.container {
  position: relative;
}

header {
  position: absolute;
  min-width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 25px;
  background-color: rgba(55, 39, 33, 0.6);
  box-shadow: 2px 3px 4px 0 black;
  z-index: 99;
}

.svcs_content {
  position: absolute;
  margin: 0 auto;
  width: 86%;
  height: 78%;
  bottom: 0;
  margin-left: 110px;
  vertical-align: bottom;
  z-index: 99;
}

/*======================================

Menu Styling

======================================*/
.left-side {
  display: inline-block;
  width: 15%;
  opacity: 75%;
  margin-left: 10px;
}

.right-side {
  display: inline-block;
  width: 82%;
  margin-top: 15px;
  vertical-align: top;
  text-align: right;
}

nav ul {
  list-style: none;
  white-space: nowrap;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: white;
  opacity: 85%;
  padding: 0px 32px;
  font-size: 1.1111em;
  font-weight: bold;
}

/*======================================

Column Styling

======================================*/
.column1,
.column2,
.column3 {
  float: left;
  width: 27%;
  padding: 20px 22px;
  margin-left: 37px;
  vertical-align: bottom;
  bottom: 0;
  background-color: rgb(55, 39, 33);
  opacity: 80%;
  border-radius: 5px 5px 75px 5px;
  box-shadow: 2px 3px 3px 0 black;
  z-index: 90;
}

/*======================================

Animation Styling

======================================*/
h2:hover,
.column1:hover,
.column2:hover,
.column3:hover {
  height: 75px;
  overflow: hidden;
  border-radius: 5px 3px 60px 5px;
  color: rgb(247,210,165);
  transition: height .5s ease;
}
